.navigation-links2-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links2-navlink {
  text-decoration: none;
}
.navigation-links2-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links2-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links2-navlink3 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}

































@media(max-width: 767px) {
  .navigation-links2-nav {
    width: 279px;
    height: 44px;
    justify-content: space-between;
  }
  .navigation-links2-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-root-class-name10 {
    width: 100%;
    align-self: center;
  }
  .navigation-links2-root-class-name12 {
    width: 100%;
    align-self: center;
  }
  .navigation-links2-root-class-name15 {
    width: 100%;
    align-self: center;
  }
  .navigation-links2-root-class-name17 {
    width: 100%;
    align-self: center;
  }
  .navigation-links2-root-class-name19 {
    width: 100%;
    align-self: center;
  }
  .navigation-links2-root-class-name21 {
    width: 100%;
    align-self: center;
  }
  .navigation-links2-root-class-name23 {
    width: 100%;
    align-self: center;
  }
  .navigation-links2-root-class-name25 {
    width: 100%;
    align-self: center;
  }
  .navigation-links2-root-class-name27 {
    width: 100%;
    align-self: center;
  }
  .navigation-links2-root-class-name29 {
    width: 100%;
    align-self: center;
  }
  .navigation-links2-root-class-name31 {
    width: 100%;
    align-self: center;
  }
}
@media(max-width: 479px) {
  .navigation-links2-nav {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
}

.about-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.about-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.about-header {
  width: 40%;
  height: 58px;
  display: flex;
  z-index: 100;
  position: fixed;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: #4C6AFF;
  border-style: solid;
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.about-burger-menu {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: none;
}
.about-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.about-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.about-image {
  height: 2rem;
}
.about-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-container03 {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.about-container04 {
  width: 100%;
  height: 309px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.about-text {
  font-size: 36px;
  margin-top: 15px;
  font-family: montserrat;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 15px;
  text-transform: none;
  text-decoration: none;
}
.about-text001 {
  align-self: center;
  margin-top: 20px;
  text-align: left;
  margin-bottom: 20px;
}
.about-container05 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.about-container06 {
  flex: 0 0 auto;
  width: 50%;
  height: 591px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-text008 {
  height: auto;
  margin-top: 30px;
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
}
.about-text013 {
  height: auto;
  margin-top: 20px;
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
}
.about-text030 {
  height: auto;
  margin-top: 30px;
  text-align: left;
  margin-left: 30px;
  margin-right: 50px;
  margin-bottom: 30px;
}
.about-container07 {
  flex: 0 0 auto;
  width: 50%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  padding-left: 30px;
  padding-right: 30px;
  flex-direction: column;
  justify-content: center;
}
.about-image1 {
  width: 100%;
  object-fit: cover;
}
.about-steps {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.about-text044 {
  color: var(--dl-color-gray-black);
  font-size: 3rem;
}
.about-text045 {
  color: var(--dl-color-gray-700);
  font-size: 1.15rem;
  max-width: 600px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.about-container08 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.about-step {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.about-line {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.about-container10 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.about-icon08 {
  width: 24px;
  height: 24px;
}
.about-line1 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.about-container11 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.about-text048 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.about-text049 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.about-step1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-container12 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.about-line2 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.about-container13 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.about-icon10 {
  width: 24px;
  height: 24px;
}
.about-line3 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.about-container14 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.about-text056 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.about-text057 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.about-step2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-container15 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.about-line4 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.about-container16 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.about-icon12 {
  width: 24px;
  height: 24px;
}
.about-line5 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.about-container17 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.about-text064 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.about-text065 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.about-step3 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-container18 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
.about-line6 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.about-container19 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.about-icon14 {
  width: 24px;
  height: 24px;
}
.about-line7 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.about-container20 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.about-text072 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
.about-text073 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
.about-navlink {
  color: rgb(255, 255, 255);
  font-size: 20px;
  align-self: center;
  border-color: #3A59A5;
  text-decoration: none;
  background-color: rgb(76, 106, 255);
}
.about-text081 {
  text-align: center;
}
.about-text084 {
  margin-top: 60px;
  font-family: montserrat;
  line-height: 1.15;
  margin-left: 30px;
  margin-right: 30px;
  text-transform: none;
  text-decoration: none;
}
.about-container21 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-text088 {
  margin-top: 30px;
  font-family: montserrat;
  line-height: 1.15;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
  text-transform: none;
  text-decoration: none;
}
@media(max-width: 1600px) {
  .about-header {
    border-color: #4C6AFF;
    border-style: solid;
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-white);
  }
}
@media(max-width: 1200px) {
  .about-header {
    width: 424px;
    height: 67px;
    align-self: center;
  }
}
@media(max-width: 991px) {
  .about-header {
    height: 58px;
    align-self: center;
  }
  .about-container06 {
    height: 100%;
  }
  .about-steps {
    height: 418px;
  }
  .about-text044 {
    text-align: center;
  }
  .about-text045 {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .about-header {
    width: 396px;
    height: 121px;
    position: relative;
    padding-top: 2px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: 5px;
  }
  .about-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .about-container07 {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media(max-width: 479px) {
  .about-header {
    width: 355px;
    height: 96px;
    align-self: center;
    padding-top: 29px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 5px;
  }
  .about-mobile-menu {
    padding: 16px;
  }
  .about-steps {
    max-width: 100%;
  }
}
