.navigation-links2-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links2-navlink {
  text-decoration: none;
}
.navigation-links2-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links2-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.navigation-links2-navlink3 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}

































@media(max-width: 767px) {
  .navigation-links2-nav {
    width: 279px;
    height: 44px;
    justify-content: space-between;
  }
  .navigation-links2-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links2-root-class-name10 {
    width: 100%;
    align-self: center;
  }
  .navigation-links2-root-class-name12 {
    width: 100%;
    align-self: center;
  }
  .navigation-links2-root-class-name15 {
    width: 100%;
    align-self: center;
  }
  .navigation-links2-root-class-name17 {
    width: 100%;
    align-self: center;
  }
  .navigation-links2-root-class-name19 {
    width: 100%;
    align-self: center;
  }
  .navigation-links2-root-class-name21 {
    width: 100%;
    align-self: center;
  }
  .navigation-links2-root-class-name23 {
    width: 100%;
    align-self: center;
  }
  .navigation-links2-root-class-name25 {
    width: 100%;
    align-self: center;
  }
  .navigation-links2-root-class-name27 {
    width: 100%;
    align-self: center;
  }
  .navigation-links2-root-class-name29 {
    width: 100%;
    align-self: center;
  }
  .navigation-links2-root-class-name31 {
    width: 100%;
    align-self: center;
  }
}
@media(max-width: 479px) {
  .navigation-links2-nav {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
}

.pricing-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.pricing-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pricing-container02 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: bf182d54-0753-4776-a900-39067f26a707;
}
.pricing-header {
  width: 437px;
  height: 53px;
  display: flex;
  z-index: 100;
  position: fixed;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: #4C6AFF;
  border-style: solid;
  border-width: 2px;
  padding-left: var(--dl-space-space-threeunits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.pricing-burger-menu {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: none;
}
.pricing-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.pricing-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pricing-container03 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.pricing-image {
  height: 2rem;
}
.pricing-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pricing-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.pricing-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.pricing-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.pricing-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.pricing-pricing {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.pricing-container04 {
  width: 100%;
  height: 999px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 0px;
  padding-left: 1px;
  padding-right: 1px;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.pricing-pricing-card {
  color: var(--dl-color-gray-black);
  width: 80%;
  height: 75%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  border-color: #4C6AFF;
  border-width: 2px;
  margin-right: 0px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
  background-color: #FDFDFD;
}
.pricing-pricing-card:hover {
  transform: scale(1.02);
}
.pricing-text {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  text-transform: uppercase;
}
.pricing-container05 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
}
.pricing-text005 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.pricing-text008 {
  font-size: 4rem;
  font-weight: 700;
}
.pricing-text009 {
  font-family: montserrat;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.pricing-container06 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.pricing-text010 {
  font-family: montserrat;
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-text014 {
  font-family: montserrat;
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-text015 {
  font-family: montserrat;
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-text019 {
  font-family: montserrat;
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-text020 {
  font-family: montserrat;
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-text021 {
  font-family: montserrat;
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-link {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.pricing-pricing-card1 {
  width: 90%;
  height: 80%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  border-color: #4C6AFF;
  border-width: 2px;
  margin-right: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.pricing-pricing-card1:hover {
  transform: scale(1.02);
}
.pricing-text022 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.pricing-container07 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
}
.pricing-text023 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.pricing-text026 {
  font-size: 4rem;
  font-weight: 700;
}
.pricing-text027 {
  font-size: 1.15rem;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.pricing-text028 {
  font-family: montserrat;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.pricing-container08 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
}
.pricing-text029 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-text036 {
  font-family: montserrat;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.pricing-text040 {
  font-family: montserrat;
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-text041 {
  font-family: montserrat;
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-text042 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-text043 {
  font-family: montserrat;
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-link1 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.pricing-pricing-card2 {
  width: 100%;
  height: 85%;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  border-color: #4C6AFF;
  border-width: 3px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-white);
}
.pricing-pricing-card2:hover {
  transform: scale(1.02);
}
.pricing-text048 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.pricing-container09 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
}
.pricing-text049 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.pricing-text052 {
  font-size: 4rem;
  font-weight: 700;
}
.pricing-text053 {
  font-size: 1.15rem;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.pricing-container10 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.pricing-text054 {
  font-family: montserrat;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.pricing-text055 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-text060 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-text061 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-text062 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-text063 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-text064 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-text065 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-text066 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-link2 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.pricing-pricing-card3 {
  width: 100%;
  height: 90%;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  border-color: #4C6AFF;
  border-width: 2px;
  padding-left: var(--dl-space-space-twounits);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-white);
}
.pricing-pricing-card3:hover {
  transform: scale(1.02);
}
.pricing-text067 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.pricing-container11 {
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
}
.pricing-text068 {
  font-size: 1.15rem;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.pricing-text071 {
  font-size: 4rem;
  font-weight: 700;
}
.pricing-text072 {
  font-size: 1.15rem;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  font-weight: 300;
}
.pricing-container12 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.pricing-text073 {
  font-family: montserrat;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.pricing-text074 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-text079 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-text083 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-text084 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-text085 {
  margin-bottom: var(--dl-space-space-unit);
}
.pricing-link3 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.pricing-container13 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #F7F7F7;
}
.pricing-container14 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pricing-text086 {
  font-size: 36px;
  margin-top: 30px;
  font-family: montserrat;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
}
.pricing-container15 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pricing-container16 {
  flex: 0 0 auto;
  width: 90%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
  padding-bottom: 20px;
  justify-content: flex-start;
}
.pricing-text087 {
  font-size: 28px;
  align-self: center;
  font-style: normal;
  margin-top: 10px;
  font-weight: 700;
  margin-bottom: 5px;
}
.pricing-text088 {
  width: 100%;
  text-align: left;
  margin-bottom: 15px;
}
.pricing-text089 {
  width: 100%;
  font-size: 18px;
  text-align: left;
  margin-bottom: 5px;
}
.pricing-container17 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.pricing-container18 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricing-icon08 {
  width: 24px;
  height: 24px;
}
.pricing-text090 {
  margin-left: 2px;
  padding-left: 0px;
}
.pricing-container19 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.pricing-container20 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.pricing-icon10 {
  width: 24px;
  height: 24px;
}
.pricing-text095 {
  margin-left: 2px;
}
.pricing-container21 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  margin-bottom: 10px;
  justify-content: flex-start;
}
.pricing-icon12 {
  width: 24px;
  height: 24px;
}
.pricing-text098 {
  margin-left: 2px;
}
.pricing-container22 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  margin-bottom: 10px;
  justify-content: flex-start;
}
.pricing-icon14 {
  width: 24px;
  height: 24px;
}
.pricing-text101 {
  margin-left: 2px;
}
.pricing-container23 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.pricing-container24 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricing-icon17 {
  width: 24px;
  height: 24px;
}
.pricing-text104 {
  margin-left: 2px;
}
.pricing-container25 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.pricing-container26 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricing-icon20 {
  width: 24px;
  height: 24px;
}
.pricing-text113 {
  margin-left: 2px;
}
.pricing-container27 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.pricing-container28 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricing-icon22 {
  width: 24px;
  height: 24px;
}
.pricing-text118 {
  margin-left: 2px;
}
.pricing-container29 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.pricing-container30 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricing-icon24 {
  width: 24px;
  height: 24px;
}
.pricing-text123 {
  margin-left: 2px;
}
.pricing-container31 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.pricing-icon26 {
  width: 24px;
  height: 24px;
}
.pricing-container32 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pricing-container33 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricing-icon28 {
  width: 24px;
  height: 24px;
}
.pricing-text128 {
  margin-left: 2px;
}
.pricing-container34 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.pricing-container35 {
  flex: 0 0 auto;
  width: 90%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
  padding-bottom: 20px;
  justify-content: flex-start;
}
.pricing-text133 {
  font-size: 28px;
  align-self: center;
  font-style: normal;
  margin-top: 10px;
  font-weight: 700;
  margin-bottom: 5px;
}
.pricing-text134 {
  width: 100%;
  text-align: left;
  margin-bottom: 15px;
}
.pricing-text137 {
  width: 100%;
  font-size: 18px;
  text-align: left;
  margin-bottom: 5px;
}
.pricing-container36 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.pricing-container37 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricing-icon30 {
  width: 24px;
  height: 24px;
}
.pricing-text138 {
  margin-left: 2px;
  padding-left: 0px;
}
.pricing-container38 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.pricing-icon32 {
  width: 24px;
  height: 24px;
}
.pricing-text141 {
  margin-left: 2px;
}
.pricing-container39 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.pricing-icon34 {
  width: 24px;
  height: 24px;
}
.pricing-text146 {
  margin-left: 2px;
}
.pricing-container40 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.pricing-icon37 {
  width: 24px;
  height: 24px;
}
.pricing-text153 {
  margin-left: 2px;
}
.pricing-container41 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.pricing-icon39 {
  width: 24px;
  height: 24px;
}
.pricing-text158 {
  margin-left: 2px;
}
.pricing-container42 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  flex-direction: column;
  justify-content: flex-start;
}
.pricing-container43 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricing-icon41 {
  width: 24px;
  height: 24px;
}
.pricing-text165 {
  margin-left: 2px;
}
.pricing-container44 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.pricing-container45 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricing-icon43 {
  width: 24px;
  height: 24px;
}
.pricing-text172 {
  margin-left: 2px;
}
.pricing-container46 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.pricing-container47 {
  flex: 0 0 auto;
  width: 90%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
  padding-bottom: 20px;
  justify-content: flex-start;
}
.pricing-text182 {
  font-size: 28px;
  align-self: center;
  font-style: normal;
  margin-top: 10px;
  font-weight: 700;
  margin-bottom: 5px;
}
.pricing-text185 {
  width: 100%;
  text-align: left;
  margin-bottom: 15px;
}
.pricing-text188 {
  width: 100%;
  font-size: 18px;
  text-align: left;
  margin-bottom: 5px;
}
.pricing-container48 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.pricing-icon45 {
  width: 24px;
  height: 24px;
}
.pricing-text189 {
  margin-left: 2px;
  padding-left: 0px;
}
.pricing-container49 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.pricing-container50 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricing-icon47 {
  width: 24px;
  height: 24px;
}
.pricing-text192 {
  margin-left: 2px;
  padding-left: 0px;
}
.pricing-container51 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.pricing-container52 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricing-icon49 {
  width: 24px;
  height: 24px;
}
.pricing-text197 {
  margin-left: 2px;
}
.pricing-container53 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.pricing-icon51 {
  width: 24px;
  height: 24px;
}
.pricing-text203 {
  margin-left: 2px;
}
.pricing-container54 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.pricing-icon53 {
  width: 24px;
  height: 24px;
}
.pricing-text210 {
  margin-left: 2px;
}
.pricing-container55 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.pricing-container56 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricing-icon55 {
  width: 24px;
  height: 24px;
}
.pricing-text213 {
  margin-left: 2px;
}
.pricing-container57 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.pricing-container58 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricing-icon57 {
  width: 24px;
  height: 24px;
}
.pricing-text220 {
  margin-left: 2px;
}
.pricing-container59 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  flex-direction: column;
  justify-content: flex-start;
}
.pricing-container60 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricing-icon59 {
  width: 24px;
  height: 24px;
}
.pricing-text221 {
  margin-left: 2px;
}
.pricing-container61 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.pricing-container62 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricing-icon61 {
  width: 24px;
  height: 24px;
}
.pricing-text222 {
  margin-left: 2px;
}
.pricing-container63 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.pricing-container64 {
  flex: 0 0 auto;
  width: 90%;
  height: auto;
  display: flex;
  padding: 20px;
  align-items: flex-start;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  flex-direction: column;
  justify-content: flex-start;
}
.pricing-text223 {
  font-size: 28px;
  align-self: center;
  font-style: normal;
  margin-top: 10px;
  font-weight: 700;
  margin-bottom: 5px;
}
.pricing-text224 {
  width: 100%;
  text-align: left;
  margin-bottom: 15px;
}
.pricing-text225 {
  width: 100%;
  font-size: 18px;
  text-align: left;
  margin-bottom: 5px;
}
.pricing-container65 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.pricing-icon63 {
  width: 24px;
  height: 24px;
}
.pricing-text226 {
  margin-left: 2px;
  padding-left: 0px;
}
.pricing-container66 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.pricing-container67 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricing-icon65 {
  width: 24px;
  height: 24px;
}
.pricing-text229 {
  margin-left: 2px;
  padding-left: 0px;
}
.pricing-container68 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.pricing-container69 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.pricing-icon67 {
  width: 24px;
  height: 24px;
}
.pricing-text230 {
  margin-left: 2px;
}
.pricing-container70 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.pricing-icon69 {
  width: 24px;
  height: 24px;
}
.pricing-text235 {
  margin-left: 2px;
}
.pricing-container71 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.pricing-icon71 {
  width: 24px;
  height: 24px;
}
.pricing-text236 {
  margin-left: 2px;
}
.pricing-container72 {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  justify-content: flex-start;
}
.pricing-container73 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pricing-icon73 {
  width: 24px;
  height: 24px;
}
.pricing-text237 {
  margin-left: 2px;
}
@media(max-width: 1600px) {
  .pricing-header {
    border-color: #4C6AFF;
    border-style: solid;
    border-radius: var(--dl-radius-radius-radius4);
    background-color: var(--dl-color-gray-white);
  }
  .pricing-pricing {
    height: 100%;
  }
  .pricing-container04 {
    height: 926px;
  }
  .pricing-container45 {
    width: 100%;
  }
}
@media(max-width: 1200px) {
  .pricing-header {
    width: 424px;
    height: 67px;
  }
  .pricing-container04 {
    height: 1033px;
    padding-top: var(--dl-space-space-twounits);
  }
  .pricing-pricing-card1 {
    height: 80%;
  }
  .pricing-pricing-card2 {
    height: 85%;
  }
  .pricing-pricing-card3 {
    height: 90%;
  }
}
@media(max-width: 991px) {
  .pricing-container04 {
    height: 1144px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .pricing-pricing-card {
    width: 100%;
    height: 75%;
    padding: var(--dl-space-space-twounits);
    max-width: 100%;
    align-items: center;
  }
  .pricing-pricing-card1 {
    width: 100%;
    height: 80%;
    max-width: 100%;
    align-items: center;
  }
  .pricing-pricing-card2 {
    width: 100%;
    height: 85%;
    max-width: 100%;
    align-items: center;
  }
  .pricing-pricing-card3 {
    width: 100%;
    height: 90%;
    max-width: 100%;
    align-items: center;
  }
}
@media(max-width: 767px) {
  .pricing-container02 {
    height: 2841px;
    margin-bottom: 29px;
  }
  .pricing-header {
    width: 396px;
    height: 121px;
    position: relative;
    padding-top: 2px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: 5px;
  }
  .pricing-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .pricing-pricing {
    height: 2372px;
  }
  .pricing-container04 {
    height: 2666px;
    flex-flow: column;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .pricing-pricing-card {
    width: 100%;
    height: 75%;
    max-width: 450px;
    align-items: center;
    padding-top: var(--dl-space-space-oneandhalfunits);
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-bottom: 0px;
  }
  .pricing-container06 {
    margin-bottom: var(--dl-space-space-twounits);
  }
  .pricing-pricing-card1 {
    width: 100%;
    height: 75%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .pricing-pricing-card2 {
    width: 100%;
    height: 80%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .pricing-pricing-card3 {
    width: 100%;
    height: 70%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .pricing-container01 {
    background-color: #D9D9D9;
  }
  .pricing-container02 {
    height: 2478px;
  }
  .pricing-header {
    width: 355px;
    height: 96px;
    align-self: center;
    padding-top: 29px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 5px;
  }
  .pricing-mobile-menu {
    padding: 16px;
  }
  .pricing-container04 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .pricing-pricing-card {
    height: 75%;
  }
  .pricing-pricing-card1 {
    height: 70%;
  }
  .pricing-pricing-card2 {
    height: 80%;
    margin-bottom: 0px;
  }
  .pricing-pricing-card3 {
    margin-bottom: 0px;
  }
}
