<div>
  <link href="./navigation-links1.css" rel="stylesheet" />
  <nav class="navigation-links1-nav">
    <a
      href="https://youtube.com"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links1-link"
    >
      <span>About</span>
    </a>
    <span class="navigation-links1-text"><span>Features</span></span>
    <span class="navigation-links1-text1"><span>Pricing</span></span>
    <span class="navigation-links1-text2"><span>Team</span></span>
    <span class="navigation-links1-text3"><span>Blog</span></span>
  </nav>
</div>
